div {
    box-sizing: border-box;
    display: inline;
    font-family: Verdana;
    font-size: small;
}

form input[type='button']  {
    width: auto;
    float: right;
}

.info_form{
    float: left;
    margin-right: 50px;
}

.info_form label {
    display: inline-block;
    width:130px;
    text-align: right;
    font-family: Verdana;
    font-size: small;
    }


