<%- include('partials/header.ejs') -%>
<div class="banner">
    <p>This webapp will display the current the currency conversion for your selected currency. 
        <br>It uses the exchange rates published by the European Central bank.</p>
</div>
<div class="searchDiv">
    <form action="/results" method="POST">
        <label>Please select a currency:</label>
        <select name="curAbv" id="curAbv">
            <option value="none" selected></option>
            <option value="EUR">EUR - European Euro</option>
            <option value="USD">USD - United States Dollar</option>
            <option value="GBP">GBP - Pound Sterling</option>
            <option value="CAD">CAD - Canadian Dollar</option>
            <option value="MXN">MXN - Mexican Peso</option>
            <option value="SGD">SGD - Singapore Dollar</option>
            <option value="AUD">AUD - Australian Dollar</option>
            <option value="NZD">NZD - New Zealand Dollar</option>
            <option value="CNY">CNY - Chinese Yuan Renminbi</option>
            <option value="KRW">KRW - South Korean Won</option>
            <option value="PLN">PLN - Polish Zloty</option>
            <option value="NOK">NOK - Norwegian Krone</option>
            <option value="ISK">ISK - Icelandic Krona</option>
            <option value="PHP">PHP - Philippine Peso</option>
            <option value="DKK">DKK - Danish Krone</option>
            <option value="HUF">HUF - Hungarian Forint</option>
            <option value="CZK">CZK - Czech Koruna</option>
            <option value="RON">RON - Romanian Leu</option>
            <option value="SEK">SEK - Swedish Krona</option>
            <option value="IDR">IDR - Indonesian Rupiah</option>
            <option value="INR">INR - Indian Rupee</option>
            <option value="BRL">BRL - Brazilian Real</option>
            <option value="RUB">RUB - Russian Ruble</option>
            <option value="HRK">HRK - Croatian Kuna</option>
            <option value="JPY">JPY - Japanese Yen</option>
            <option value="THB">THB - Thai Baht</option>
            <option value="CHF">CHF - Swiss Franc</option>
            <option value="MYR">MYR - Malaysian Ringgit</option>
            <option value="BGN">BGN - Bulgarian Lev</option>
            <option value="TRY">TRY - Turkish Lira</option>
            <option value="ILS">ILS - Israeli Shekel</option>
            <option value="ZAR">ZAR - South African Rand</option>
        </select>
        <button type="Submit">Submit</button>
    </form>
    <br><br>
    <form action="/register" method="POST" >
        <button type="submit">Registration Form</button>
    </form>
</div>

<%- include('partials/footer.ejs') -%>