<%- include('partials/header.ejs') -%>
<form class="registration_form" onSubmit = "return checkPassword(this)"> 

    <h2>Register with us!</h2>

    <!-- Inputs for names -->
    <label for="fname">First name:</label>
    <input type="text" required="required" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" required="required" id="lname" name="lname"><br><br>

    <!-- Input for birthday -->
    <label for="birthday">Birthday:</label>
    <input type="date" required="required" id="birthday" name="birthday"><br><br>

    <!-- Input for gender -->
    <label for="gender">Gender:</label>
    <select name="gender" required="required" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select><br><br>

    <!-- Input for email -->
    <label for="email">Email:</label>
    <input type="email" required="required" id="email" name="email"><br><br>

    <!-- Input for password -->
    <label for="pwd">Password:</label>
    <input type="password" required="required" id="pwd" name="pwd"><br><br>

    <label for="confirmpwd">Confirm Password:</label>
    <input type="password" required="required" id="confirmpwd" name="confirmpwd"><br><br>
    <script> 
        // Function used to check if the passwords match
        //Source: https://www.geeksforgeeks.org/password-matching-using-javascript/

        function checkPassword(form) { 
            password1 = form.pwd.value; //pulls first pwd value
            password2 = form.confirmpwd.value; //pulls confirmpwd value

            if (password1 != password2) { 
                alert ("\nPasswords must match!") 
                return false; 
            } 
            else{ 
                return true; 
            } 
        } 
    </script> 
    <input type="submit" value="Submit"><br><br>
</form>
</body>
</html>
